<ion-header>
  <ion-toolbar>
    <ion-title>doginformations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-img [src]="imgData.path"></ion-img>
<!--   <ion-img :src="../../assets/apbt.jpeg"></ion-img>
 -->  
 <ion-item>
    <ion-label>Nom:</ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Date Naissance:</ion-label>
    <ion-datetime #myPicker display-format="DD/MM/YYYY" picker-format="DD/MM/YYYY" [(ngModel)]="dataInicial" (ionChange)="updateMyDate(myPicker.value)"></ion-datetime>
  </ion-item>
  <ion-list>
    <ion-radio-group [(ngModel)]="sexe">
      <ion-list-header>
        <ion-label>Sexe</ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>Male</ion-label>
        <ion-radio slot="start" value="male" checked></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Femelle</ion-label>
        <ion-radio slot="start" value="femelle"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  
  <ion-item>
    <ion-label>Père:</ion-label>
    <ion-input [(ngModel)]="pere"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Mère:</ion-label>
    <ion-input [(ngModel)]="mere"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Proprietaire:</ion-label>
    <ion-input [(ngModel)]="proprietaire"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Telephone:</ion-label>
    <ion-input [(ngModel)]="phone"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Adresse:</ion-label>
    <ion-input [(ngModel)]="adresse"></ion-input>
  </ion-item>
  <ion-button expand="full"(click)= 'upload()'>Valider</ion-button>
</ion-content>
