<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list padding *ngFor="let item of dogs">
        <ion-item>
            {{item.name}}
        </ion-item>
        <ion-avatar>
            <img src="http://tiokolane.pythonanywhere.com/{{item.file}}">
          </ion-avatar>
    </ion-list>
</ion-content>
